.container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    }
    h2 {
        margin-top: 0;
        color: #333;
    }
    .form-block {
        margin-bottom: 20px;
    }
    .form-block label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    input[type="file"], input[type="date"], .send {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: calc(100% - 22px);
        box-sizing: border-box;
        font-size: 16px;
        height: 36px;
    }
    .send {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;
        height: 44px;
    }
    .send:hover {
        background-color: limegreen;
    }
    #fileToUpload{
        height: 44px;
    }
main   {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#file-block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#grafiks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
